* {
    padding: 0;
    margin: 0;
}



body {
    display: grid;
    place-items: center;
    /* height: 100vh; */
 }

.container1{
    border: 3px solid black;
    width: 300px;
    height: 300px;
    box-sizing: border-box;
    padding: 10px;
    display: grid;
    place-content: center;
    margin-bottom: 10px;
}

/* container 2 */

.container2 {
    border: 3px solid black;
    width: 350px;
    height: 350px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 70px 70px 40px 100px;
    grid-auto-flow: column;
    place-items: center;
    transition: 1s;

}

.container2 .kotak {
    grid-row: 1/2;
    width: 50px;
    height: 50px;
    border: 2px solid black;
    transition: .5s;
}

.container2 .input {
    display: grid;
    width: 100%;
    place-items: center;
    grid-template-rows: 23px 23px;
    align-self: start;
}


.container2 .input input {
    grid-row: 2/3;
    width: 100px;
    height: 10px; 
    align-self: start;
    margin-top: 10px;
    grid-row: 1/2;
}

.container2 .input span {
    background-color: white;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.container2 button {
    grid-row: 3/4;
    grid-column: 1/4;
    width: 50px;
}

.hasil {
    width: 100%;
    height: 100%;
    background-color: #fff;
    grid-row: 4/5;
    grid-column: 2/3;
    display: grid;
    place-content: space-evenly center;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400; 
    border-radius: 10px;
}

.none {
    display: none;
}

/* container 3 */

.container3 {
    width: 200px;
    height: 200px;
    padding: 30px;
    border: solid;
}